.material-symbols-outlined {
    position: relative;
    display: flex;
    
    align-items: center;
    padding-top: 6px;
}

.up {
    border: 3px solid black;
    height: 60px;
}

.del {
    
    border: 3px solid black;
    height: 60px;
}
